<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=titleTag%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <div class="header">
      <h1>homebrewers database</h1>
    </div>

    <div class="topnav">
      <nav>
        <a href="/home">
        <button type="button" name="Menu">Home</button>
        </a>
        <a href="/library/addnew">
      <button class='addButton'type="button">Add to Library</button>
    </a>
      </nav>
      </div>

      <div class = beerList>
        <%for(let i = 0; i < beer.length; i++){%>
          <li class='beerEntry'>
            <a href="/library/<%=beer[i]._id%>/show">
            <h3><%=beer[i].name%></h3>
            </a>
            <a href = "/library/<%=beer[i]._id%>/show">
            <img class='beerimg' src="<%=beer[i].img%>">
          </a>
          </li>
        <%}%>
    </div>

  </body>
</html>
