<%- include('./partials/head.ejs')%>

  <body>
<div class= "titlebar">

  <%- include('./partials/header.ejs')%>

  <div class="topnav">
    <nav class = 'menubar'>
        <%- include('./partials/nav.ejs')%>

      <a href="/beer/library/<%=beer._id%>/edit">
        <button class = 'editButton lnr lnr-pencil' type="button"></button>
      </a>

    </nav>
  </div>
</div>

<div class="showPage">
  <%- include('./partials/showinfo.ejs')%>
</div>

  </body>
</html>
