<%- include('./partials/head.ejs')%>

  <body>
<div class= "titlebar">

  <%- include('./partials/header.ejs')%>

  <div class="topnav">
    <nav>
      <a href="/library">
        <button type="button">Back to Library</button>
      </a>
      <a href="/library/<%=beer._id%>/edit">
        <button class = 'editButton' type="button">Edit Entry</button>
      </a>
      <a href="/library/<%=beer._id%>/delete">
        <button class = 'deleteButton' type="button">Delete Entry</button>
      </a>
    </nav>
  </div>
</div>
</div>

<div class="showPage">
    <div class='showInfo'>
      <h2><span id='ul'><%=beer.name%></span></h2>
      <h3><%=beer.style%></h3>
      <h3><%=beer.description%></h3>
      <h3><img class='beerimg' src="<%=beer.img%>"></h3>
      <h3>ABV: <%=beer.abv%></h3>
      <h3>IBU: <%=beer.ibu%></h3>
    </div>
</div>

  </body>
</html>
